beautifulsoup4==4.10.0
chromadb>=0.4.14
langchain<0.2
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langsmith
openai
Pillow==9.0.1
streamlit==1.35.0
streamlit-chat==0.0.2.2
pysqlite3-binary
